@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@import './style-B09Ikn.css' layer(components);


@theme {
  --color-primary: #3b82f6;
  --color-accent: #9333ea;
  --text-gradient: linear-gradient(to right, var(--color-primary), var(--color-accent));
}

@layer components {
  .text-gradient {
    display: inline-block; /* penting agar background clip jalan */
    font-weight: 700;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* fix Safari & Chrome */
    color: transparent; /* fallback browser lain */
  }
}
